# Ignore virtual environment
venv/

# Ignore dataset directory
dataset/

# Ignore transformers directory
transformers/

# Ignore backup files
src/intent_recognizer_backup.py

# Ignore Python compiled files
__pycache__/
*.pyc